@font-face {
  font-family: Dyslexic;
  src: url(../fonts/od3-b.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Dyslexic;
  src: url(../fonts/od3-r.ttf);
  font-weight: normal;
}

.am-button {
  margin-left: 1% !important;
}

.lt {
  text-transform:lowercase;
}
.ut {
  text-transform:uppercase;
}
.ct {
  text-transform:capitalize;
}
.df {
  font-family: Dyslexic !important;
}